*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    /* background-color: black; */
    z-index: 10;
    position: relative;
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 0 20px;
}

#nav{
    padding: 2vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4{
    position: relative;
    padding: 10px 20px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
    
}

#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
    transition: 0.5s;
}


#nav-part2 h4 a{
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a{
    color: white;
}

#center{
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid #0000003c;
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1{
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

#page1 video{
    border-radius: 30px;
    width: 100%;
    margin-top: 4vw;
    position: relative;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 75vh;
}

#hero-1{
    height: 100%;
    width: 100%;
    background-color: orangered;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    filter: blur(10px);   
}

#hero-2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a, #cf2402);
    position: absolute;
    border-radius: 50%;
    filter: blur(20px);   
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero-3{
    filter: blur(20px);   
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a, #cf2402);
    position: absolute;
    border-radius: 50%;
    filter: blur(25px);   
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    from{
        transform: translate(55%, -3%);
    }
    to{
        transform: translate(0%, -10%);
    }
}

@keyframes anime2 {
    from{
        transform: translate(5%, -5%);
    }
    to{
        transform: translate(-20%, 30%);
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 8vw 0;
    position: relative;
}

#moving-text{
    white-space: nowrap;  
    overflow-x: auto;  
}

#moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    display: inline-block;
    white-space: nowrap;
    animation-name: move;
    animation-duration:  10s;
    animation-timing-function:  linear;
    animation-iteration-count: infinite;
}

#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}

#gola{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fe320a;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from{
        transform: translateX(0);
    }    
    to {
        transform: translateX(-100%);
    }
}

#page2-bottom{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw;
    position: relative;
    z-index: 9;
}

#page2-bottom h1{
    font-size: 3.5vw;
    width: 55%;
    line-height: 4vw;
}

#bottom-part2{
    width: 20%;
    /* background-color: aqua;   */
}

#bottom-part2 img{
    width: 100%;
    border-radius: 15%;
}

#bottom-part2 p{
    font-weight: 100;
}

#page2 #gooey{
    height: 32vw;
    width: 32vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right, #ff3107, #ff671b);
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes gooey {
    from{
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to{
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 4vw 0;
}

.elem{
    height: 150px;
    width: 100%;
    border-bottom: 1px solid rgb(127, 127, 127);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}

.elem h2{
    font-size: 3vw;
    position: absolute;
    z-index: 9;
}

.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}

.elem:hover .overlay{
    top: 0;
}

#elem-container{
    color: red;

}

#fixed-image{
    height: 30vw;
    width: 24vw;
    border-radius: 10px;
    z-index: 99;
    background-size: cover;
    background-position: cover;
    /* background-color: red; */
    position: fixed;
    left: 50%;
    top: 25%;
    display: none;
}

#page4{
    height: 60vh;
    width: 100%;
    background-color: #efeae3;
}

#page5{
    height: 100vh;
    width: 100%;
    /* background-color: #efeae3; */
}

#footer{
    position: fixed;
    z-index: 9;
    height: 105vh;
    bottom: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer h1{
    font-size: 19vw;
}

#footer-div{
    height: 20vh;
    width: 100%;
    background-color: #cf2402;
}

#footer-bottom{
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}