* {
    margin: 0;
    padding: 0;
}

body {
    background: url('https://wallpaperaccess.com/full/702860.jpg');
}

header {
    background-color: #e38811;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    height: 55px;
    padding: 0 20px;
}

.menu-container {
    display: flex;
    width: 100%;
    align-items: center;
    bottom: 65px;
    position: relative;
}

.hamburger-menu {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 1590px;
    padding: 20px 20px;
    background-color: #e38811;
}

.hamburger-menu .line {
    width: 100%;
    height: 4px;
    background-color: #333;
}

.header-title {
    flex-grow: 1;
    text-align: center;
}

.nav-menu {
    position: absolute;
    top: 70px;
    right: 0;
    width: 30%;
    font-size: 25px;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    border: 1px solid rgba(255, 255, 255, 0.79);
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    text-align: center;
}

.nav-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    gap: 25px;
    
}

.nav-menu ul li a {
    text-decoration: none;
    color: #d9d9d9;
    display: block;
    width: 100%;
}

.nav-menu.show {
    display: flex;
}

.display{
    height: 100px;
    width: 500px;
    color: azure;
    margin-left: 50px;  
}

.clippings{
    color: #d9d9d9;
    display: flex;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

img{
    height: 300px;
    width: 500px;
    margin-right: 5px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: black;
}

.img_con{
    color: black;
}

.clipping_h1{
    margin: 50px;
    color: #d9d9d9;
}

.con{
    height: 500px;
    width: 500px;
    margin: 50px;
    background-color: #d9d9d9;
    border-radius: 25px;
}