body{
    background-color: black;
    color: white;
    padding: 25px;
  }
  .title {
      color: #5C6AC4;
      display: contents;
      text-align: center;
  }
  h1{
    font-size: 25px;
    text-decoration: underline;
    font-family: "roboto";
  }
  h2{
      font-size: 17px;
    padding: 4px;
    font-family: "roboto";
  }
  .headin-medical{
    text-align: center !important;
    
  }