body {
    height: 100%;
    width: device-width;
    margin: 0;
    padding: 0;
    background-image: url("62624.jpg");
}

.title {
    margin-left: 10%;
}

.main {
    height: 82vh;
    margin-top: -20px;
    padding-left: 50px;
}

.content {
    margin: 180px;
    /* padding-top: 20px; */
    margin-left: 100px;
    height: 64vh;
    display: flex;
    color: black;
}

h1{
    height: 50px;
    padding-top: 20px;
}

p {
    color: black;
    font-size: 20px;
}

.logo {
    display: flex;   
    margin-left: 20px;
    font-size: 140%;
    margin-top: 20px;
}

.fb, .li, .ig, .x {
    padding: 5px;
    margin-right: 20px;
}

.fb:hover, .li:hover, .ig:hover, .x:hover {
    transform: scale(1.3);
}

.li a {
    text-decoration: none;
    color: black;
}

.con {
    width: 75%;
    margin-left: 30px;
    border-radius: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.log {
    margin-left: 23px;
    width: 80%;
    display: block;
    margin-top: 20px;
    background-color: rgb(194, 184, 184);
    padding-right: 0px 20px 0px 20px ;
    border-radius: 15px;
}

button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

.connect {
    height: 100%;
    width: 30vh;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.about {
    text-align: center;
    margin-left: 50px;
    height: 150vh;
    width: 100vh;
    background-color: white;
    border-radius: 10px;
}

.text {
    margin-left: 60px;
    width: 83vh;
}

.explain {
    margin: 5px;
    font-size: 15px;
}

.skills {
    background-color: #fff7f7;
    height: 60vh;
    margin: 20px 20px 15vh 20px; /*top right bottom left*/
    display: flex;
    justify-content: space-evenly;
}

.skill { 
    background-color: rgb(231, 91, 26); 
    padding: 1%;
    height: 30vh;
} 

.html, .pic, .ill, .mobile{ 
    width: 80%; 
    height: 2%;
} 

.know{
    width: 55%;
    /* margin: 0 0 0 15vh; */
    display: grid;
    grid-template-columns: auto auto auto;
}

.card{
    margin: 15vh 2vh 0 0; /*top right bottom left*/
    justify-content: start;
    height: 4vh;
    background-color: grey;
}

.what_i_do {
    margin: 40px;
    height: 28rem;
    /* background-color: green; */
    display: grid;
    grid-template-columns: auto auto;
}

.ui {
    padding: 2px;
    height: 11rem;
    width: 20rem;
    background-color: antiquewhite;
    margin: 20px 0px 0px 20px;
    border-radius: 15px;
}

.app {
    padding: 2px;
    height: 11rem;
    width: 20rem;
    background-color: #bbb2bd;
    margin: 20px 0px 0px 20px;
    border-radius: 15px;
}

.photo {
    padding: 2px;
    height: 11rem;
    width: 20rem;
    background-color: #bbb2bd;
    margin: 20px 0px 0px 20px;
    border-radius: 15px;
}

.web{
    padding: 2px;
    height: 11rem;
    width: 20rem;
    background-color: antiquewhite;
    margin: 20px 0px 0px 20px;
    border-radius: 15px;
}

.shortcut {
    height: 40vh;
    width: 13vh;
    margin: 2px 0 0 40px; /*top right bottom left*/
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.st {
    margin: 20px;
    background-color: rgb(194, 184, 184);
    border-radius: 15px;
    color: black;
    text-decoration: none;
}

.re {
    text-decoration: none;
    color: black;
}